<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDamrSHicCp37d4iHyEpPSBjJWJZSAXai8</string>
	<key>GCM_SENDER_ID</key>
	<string>78401857333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tunedheartz</string>
	<key>PROJECT_ID</key>
	<string>tuned-heartz-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>tuned-heartz-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78401857333:ios:cf05a2c2c3eabc9d1cce7c</string>
</dict>
</plist>